.center {
  text-align: center;
}

.actionButton {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.table > tbody > tr > td {
  vertical-align: middle;
}
